* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background: #f2f3f3;
  padding: 15px 10px;
}

.header {
  display: flex;
  justify-content: space-between;

}

.btn {
  font-weight: bold;
  border: none;
  padding: 2px;
  margin-left: 5px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

.table {
  width: 100%;
  box-shadow: 4px 3px 18px 0px rgba(34, 60, 80, 0.2);
}

.table-header {
  display: flex;
  width: 100%;
  background: #d6e5e5;
  padding: 18px 0;
  font-family: 'Poppins', sans-serif;
  color: #497d7d;
  position: sticky;
  top: 0;
}


.table-row {
  display: flex;
  width: 100%;
  padding: 18px 0;
}
.table-row:focus{
  outline: none;
}
/*.table-row:hover{*/
/*  background: #EEEEEE;*/
/*}*/

/*.table-row:nth-of-type(odd) {*/
/*  background: #EEEEEE;*/

/*}*/
/*.table-row:nth-of-type(odd):focus {*/
/*  background: #bed5d5;*/
/*}*/

.table-data, .header__item {
  flex: 1 1 2%;
  text-align: center;
}

.header__item {
  font-size: 12px;
  position: relative;
}
.activeRow{
  background: #bed5d5;
}


.paginationStyle{
    display: flex;
    justify-content: center;
    margin-top: 30px;

}


/*.filter__link {*/
/*  color: white;*/
/*  text-decoration: none;*/
/*  position: relative;*/
/*  display: inline-block;*/
/*  padding-left: 24px;*/
/*  padding-right: 24px;*/
/*}*/

/*.filter__linkl::after {*/
/*  content: '';*/
/*  position: absolute;*/
/*  right: -18px;*/
/*  color: white;*/
/*  font-size: 12px;*/
/*  top: 50%;*/
/*  transform: translateY(-50%);*/
/*}*/


.headNum {
  width: 30px;
  text-align: center;
  font-size: 12px;

}

.num {
  font-size: 16px;
  text-align: center;
  width: 30px;
}

.up_icon {
  position: absolute;
  top: -7px;
  right: -3px;
}

.up_icon:hover {
  cursor: pointer;
}

.down_icon {
  position: absolute;
  top: -1px;
  right: -3px;
}

.down_icon:hover {
  cursor: pointer;
}

.select {
  width: 150px;
  height: 38px;
  border: 0.3px solid #cce7e7;
  border-radius: 5px;
  padding: 3px;
  font-weight: bold;
}

.select:focus {
  outline: none;
}
.select:hover{
  cursor: pointer;
}

.report{
  width: 300px;
  height: 38px;
  border: 0.3px solid #cce7e7;
  border-radius: 5px;
  padding: 3px;
  font-weight: bold;
}
.report:focus{
  outline: none;
}
.report:hover{
  cursor: pointer;
}




.tableIconDiv{
  height: 18px;
  width: 18px;
  position: absolute;
  top: -2px;
  right: 0px;
  border: none;
  background: #cdd7d7;
  box-shadow: -1px 4px 8px 0px rgba(34, 60, 80, 0.2);
}


.label {
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.search {
  position: absolute;
  top: 3px;
  right: 5px;

}
[contenteditable] {
  outline: 0px solid transparent;
}
.mat-icon:hover{
  cursor: pointer;
}
::ng-deep .mat-tooltip {
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  background: #c3cddb;
}

@media screen and (max-width: 1166px) {

  .table{
    overflow-x: auto;
  }
  .table-content {
    width: 1180px;
    overflow-x: auto;
  }

  .table-header {
    width: 1166px;
    position: sticky;
    top: 0;
    overflow-x: auto;
  }
}



