<div class="wrapper">
  <div style="display: flex;justify-content: end;padding: 10px 20px ">
    <div>
      <label class="label" for="lang">{{ 'LOGIN.lang'| translate}}</label>
      <select id="lang" class="select" (change)="changeLang(lang)" #lang>
        <option value="en" [selected]="language=='en'">English</option>
        <option value="ru" [selected]="language=='ru'">Русский</option>
        <option value="uz" [selected]="language=='uz'">O'zbekcha</option>
      </select>
    </div>
  </div>
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form [formGroup]="myForm" class="formDiv" (ngSubmit)="login(userName,password)" ngNativeValidate="">
    <h3>{{'LOGIN.title'|translate}}</h3>

    <label for="username">{{'LOGIN.username'| translate}}</label>
    <input #userName formControlName="user" type="text" placeholder="{{'LOGIN.username'| translate}}" id="username"
            required>
    <div *ngIf="myForm.get('user')?.invalid&&myForm.get('user')?.touched" style="color: red;font-size: 10px">Please
      enter username
    </div>
    <label for="password">{{'LOGIN.password'| translate}}</label>
    <input #password formControlName="pass" type="password" placeholder="{{'LOGIN.password'| translate}}" id="password"
            required>
    <div *ngIf="myForm.get('pass')?.invalid&&myForm.get('pass')?.touched" style="color: red;font-size: 10px">Please
      enter password
    </div>
    <button class="btn" type="submit">{{'LOGIN.login'| translate}}</button>

  </form>
</div>
