<div class="wrapper">
  <mat-card class="title">
    {{'FORM.header'| translate}}
  </mat-card>
  <form>
    <mat-card class="card">
      <div class="grid-container">
        <div class="inputDiv">
          <p class="label">{{'FORM.correspondent'| translate}}<span class="starIcon">*</span></p>
          <select class="input" #senderId>
            <option value=""> Belgilanmagan</option>
            <option *ngFor="let doc_sender of doc_senders" [value]="doc_sender.id">
              {{doc_sender.name}}
            </option>
          </select>
        </div>
        <div class="inputDiv">
          <p class="label">{{'FORM.regnum'| translate}}<span class="starIcon">*</span></p>
          <input type="text" class="input" value="{{formDoc.regNum}}" required
                 maxlength="10" #regNum>
        </div>
        <div class="inputDiv">
          <p class="label">{{'FORM.regDate'| translate}}<span class="starIcon">*</span></p>
          <input type="text" class="input" required [value]="todayInput">
        </div>

        <div class="inputDiv">
          <p class="label">{{'FORM.delivery_type'| translate}}<span class="starIcon">*</span></p>
          <select class="input" required #deliveryId>
            <option value=""> Belgilanmagan</option>
            <option *ngFor="let delivery_type of delivery_types" [value]="delivery_type.id">
              {{delivery_type.name}}
            </option>
          </select>

        </div>
        <div class="inputDiv">
          <p class="label">{{'FORM.sendDoc'| translate}}<span class="starIcon">*</span></p>
          <input type="text" class="input" value="{{formDoc.sendDocNum}}" required
                 maxlength="10" #sendNum>
        </div>
        <div class="sendDatePicker">
          <p class="label">{{'FORM.sendDate'| translate}}<span class="starIcon">*</span></p>
          <div class="datePickerSend">
            <input matInput [matDatepicker]="send" name="sendDate" value="{{formDoc.sendDate}}" class="datePickerinput"
                   #sendDate>
            <mat-datepicker-toggle [for]="send" class="dateIcon"></mat-datepicker-toggle>
            <mat-datepicker #send></mat-datepicker>
          </div>
        </div>

      </div>
    </mat-card>

    <mat-card class="card">
      <div class="checkboxDivCard">

        <div style="width: 100%">
          <p class="label">{{'FORM.theme'| translate}}<span class="starIcon">*</span></p>
          <input type="text" class="input" value="{{formDoc.theme}}" maxlength="100" required #theme>
        </div>
        <div>
          <p class="label">{{'FORM.access'| translate}}</p>
          <div class="chekbox">
            <input type="checkbox" id="switch" value="{{formDoc.access}}" class="input" #acces/>
            <label class="switch" for="switch">
              <span></span>
            </label>
          </div>
        </div>
        <div style="width: 100%">
          <p class="label">{{'FORM.due'| translate}}</p>
          <div class="datePickerExpire">
            <input matInput [matDatepicker]="expire" class="datePickerinput" value="{{formDoc.expireDate}}" #expireDate>
            <mat-datepicker-toggle matSuffix [for]="expire" class="dateIcon"></mat-datepicker-toggle>
            <mat-datepicker #expire></mat-datepicker>
          </div>
        </div>
        <div style="width: 40%">
          <p class="label">{{'FORM.control'| translate}}</p>
          <div class="chekbox">
            <input type="checkbox" id="switch2" value="{{formDoc.control}}" class="input" #control/>
            <label class="switch" for="switch2">
              <span></span>
            </label>
          </div>
        </div>


      </div>
      <div style="margin-top: 1%">
        <label class="label" for="textarea">{{'FORM.description'| translate}}</label>
        <textarea class="textArea" id="textarea" maxlength="1000"
                  [value]="formDoc.someReference" required="Bo'sh bolmasligi kerak"
                  #description></textarea>
      </div>
    </mat-card>
    <mat-card class="card">
      <div class="forFileDiv">
        <input type="file" id="file" (change)="fileToServer($event)" >
        <label class="forFileLabel" for="file">
          <mat-icon>save_alt</mat-icon>
          <span style="margin-top: 7px">Faylni tanlang</span></label>
      </div>
      <p style="text-align: center;font-size: 14px" *ngIf="showFileName">{{filename}}</p>
    </mat-card>
    <mat-card class="card">
      <div style="display: flex;align-items: center;justify-content: center">
        <button mat-button color="primary" class="btn" type="button"
                (click)="edit(regNum,theme,sendNum,sendDate,expireDate,deliveryId,description,senderId,control,acces)"
        >{{'FORM.save'| translate}}</button>
        <button type="button" mat-raised-button color="warn" (click)="back()">{{'FORM.back'| translate}}</button>
      </div>
    </mat-card>
  </form>
</div>


